<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/main/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="style/main/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style/login/signin.css" rel="stylesheet">
    <link href="style/main/main.css" rel="stylesheet">    
    
    
    <script type="text/javascript" src="js/main/angular.min.js"></script>
    <script type="text/javascript" src="js/main/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="js/main/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/service/main/login.js"></script>
    <script type="text/javascript" src="js/service/main/main-service.js"></script>
  </head>
  
  <body>
    <div ng-app="loginserviceapp" ng-controller="loginServiceCtrl">
      <div class="blue-filter"></div>
      <div class="hb-tagline" >
        <img class="health-bridge-tagline" src="images/main/health-bridge-tagline-logo.png">
        <img class="health-bridge-loading hidden" style="margin-left: 10%;" src="images/gif/467.gif">
          <div class="form-signin text-center">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input ng-model="email" type="username" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <p id="errorLogin" stlye="color:red">Incorrect username or password.</p>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logindata(email,password)">Sign in</button>
          </div>
        
      </div>
      <div class="blue-filter"></div>
    </div>
  </body>
</html>